{{#if url}}
  {{#if isLink}}
    <a class="feature-edit" href="{{url}}"><button class="call-to-action">Edit</button></a>
  {{else}}
    <button class="feature-edit call-to-action" data-edit-url="{{url}}">Edit</button>
  {{/if}}
{{/if}}
