{{#if this}}
  <section class="scenario">
    <section class="scenario-details collapsible collapse">
      {{> feature_comments}}
      {{> feature_tags}}
    </section>
    {{> scenario_keyword_title}}
    <section class="scenario-details collapsible collapse">
      {{> feature_description}}
      {{> feature_steps}}
      {{> feature_examples}}
    </section>
  </section>
{{/if}}
