{{#if this}}
  {{!-- Start each scenario collapsed. --}}
  <li>
    <section class="scenario {{#unless defaultOpen}}can-expand{{/unless}}">
      <section class="scenario-details collapsible {{#unless defaultOpen}}collapse{{/unless}}">
        {{> feature_comments}}
        {{> feature_tags}}
      </section>
      <h3 class="scenario-title interactive" id="{{#uri_encode name}}{{this}}{{/uri_encode}}">{{keyword}}: {{name}}</h3>
      <section class="scenario-details collapsible {{#unless defaultOpen}}collapse{{/unless}}">
        {{> feature_description}}
        {{> feature_steps}}
        {{> feature_examples}}
      </section>
      <hr>
    </section>
  </li>
{{/if}}
