{{#each feature.scenarioDefinitions}}
  <section class="scenario">
    {{> feature_comments}}
    {{> feature_tags}}
    {{> scenario_keyword_title}}
    {{> feature_description}}
    {{> feature_steps}}
    {{> feature_examples}}
  </section>
{{/each}}
