{{#each examples}}
  <section class="example">
    {{> feature_tags defaultOpen=../defaultOpen}}
    {{> example_keyword_title}}
    {{> feature_description}}
    {{#if this.tableHeader}}
      <table class="gherkin-datatable">
        {{> example_table_header this.tableHeader}}
        {{> example_table_body this.tableBody}}
      </table>
    {{/if}}
  </section>
{{/each}}
