  <header>
    <nav class="header-nav">
      <hr class="top">
      <ol>
        <li class="primary"><a href="/"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg></a></li>
      </ol>
      <hr class="bottom">
    </nav>
  </header>
