  <header>
    <nav class="header-nav">
      <hr class="top">
      <ol>
        <li class="primary"><a href="/"><span>&#x1f3e0;<span></a></li>
      </ol>
      <hr class="bottom">
    </nav>
  </header>
