  <header>
    <nav class="header-nav">
      <hr>
      <ol>
        <li class="primary"><a href="/">Specs</a></li>
        <li><a href="/features">features</a></li>
      </ol>
      <hr>
    </nav>
  </header>
