{{> layout_start_document}}
<!--  Error message specific CSS -->
<link rel="stylesheet" href="/public/css/error.css">
{{> layout_start_body}}
<main>
  <header>
    <h1>It all went wrong...</h1>
    <p>Please <a href="https://github.com/oss-specs/specs/issues">raise an issue</a> including the messages below<p>
  </header>
  <section>
    <h2>Error Message</h2>
    <p class="error">{{message}}</p>
    <p class="error">{{stack}}</p>
  </section>
</main>
{{> layout_end}}
