{{> layout_start_document}}
<!--  Feature specific CSS -->
<link rel="stylesheet" href="/public/css/feature.css">
{{> layout_start_body}}
<main>
  <header>
    <h1 class="title">Your Feature</h1>
  </header>
  <article>
    {{#each features}}<!-- start feature -->
      <section class="feature">
        {{comments}}<br>
        {{> feature_tags}}
        {{> feature_title}}
        {{> feature_description}}
        {{> feature_scenario}}
      </section>
    {{else}}
      <p>Sorry, no feature found</p>
    {{/each}}<!-- end feature -->
  </article>
</main>
{{> layout_end}}
