{{> layout_start_document}}
<link rel="stylesheet" href="/public/css/feature.css">
{{> layout_start_body}}
<main>
  <header>
    <h1 class="title">Your Feature</h1>
  </header>
  <article>
    {{#if feature}}
      <section class="feature">
        {{> feature_comments feature}}
        {{> feature_tags feature}}
        {{> feature_keyword_title feature}}
        {{> feature_description feature}}
        {{> feature_scenario feature.background}}
        {{#each feature.scenarioDefinitions}}
          {{> feature_scenario this}}
        {{/each}}
      </section>
    {{else}}
      <p>Sorry, no feature found</p>
    {{/if}}
  </article>
</main>
{{> layout_end}}
