{{> layout_start_document}}
<link rel="stylesheet" href="/public/css/feature.css">
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/public/javascript/feature.js"></script>
{{> layout_start_body}}
<main>
  {{#if feature.error}}
    <header>
      <h1 class="title">Error parsing feature</h1>
    </header>
    <section class="content-controls">
      <button class="back-button call-to-action" onclick="window.history.back()"></button>
    </section>
    <section class="feature">
      <p>We are sorry, that feature file could not be understood, this is likely an issue with the file contents. If you would like to see the unprocessed file contents please click <a href="{{feature.plainFileUrl}}">here</a>. The error encountered is given below.</p>
      <p>{{feature.error.message}}</p>
    </section>
  {{else}}
    <header>
      <h1 class="title">{{feature.name}}</h1>
    </header>
    <section class="content-controls">
      <button class="back-button call-to-action" onclick="window.history.back()"></button>
      <button id="expand-collapse-tags" class="call-to-action"><span>Expand/Collapse Tags</span></button>
    </section>
    <article class="feature">
        {{> feature_comments feature}}
        {{> feature_tags feature}}
        {{> feature_keyword_title feature}}
        {{> feature_description feature}}
        {{> feature_scenario feature.background}}
        {{#each feature.scenarioDefinitions}}
          {{> feature_scenario this}}
        {{/each}}
    </article>
  {{/if}}
</main>
{{> layout_end}}
