{{> layout_start_document}}
<link rel="stylesheet" href="/public/css/feature.css">
<script src="/bower/jquery/dist/jquery.min.js"></script>
<script src="/public/javascript/feature.js"></script>
{{> layout_start_body}}
<main>
  {{#if file.error}}
    <section class="content-controls">
      {{> back_button}}
    </section>
    <section class="feature">
      <header>
        <h1 class="title">Error parsing feature</h1>
      </header>
      <p>We are sorry, that feature file could not be understood, this is likely an issue with the file contents. If you would like to see the unprocessed file contents please click <a href="{{file.plainFileUrl}}">here</a>. The error encountered is given below.</p>
      <p>{{file.error.message}}</p>
    </section>
  {{else}}
    <section class="content-controls group">
      {{> edit_button url=file.editUrl isLink=true}}
      {{> back_button}}
      <button id="expand-collapse-details" class="call-to-action"><span>Expand/Collapse Details</span></button>
      <button id="expand-collapse-tags" class="call-to-action collapsible collapse"><span>Expand/Collapse Tags</span></button>
    </section>
    <article class="feature">
      <header>
        <h1 id="feature-title" class="title feature-title can-expand interactive">{{file.data.name}}</h1>
      </header>
      {{!-- Start the feature details collapsed. --}}
      <section class="feature-details collapsible collapse">
        {{> feature_comments file.data}}
        {{> feature_tags file.data}}
        {{> feature_description file.data}}
      </section>
      <ul class="scenarios">
        {{> feature_scenario file.data.background}}
        {{#each file.data.scenarioDefinitions}}
          {{> feature_scenario this}}
        {{/each}}
      </ul>
    </article>
  {{/if}}
</main>
{{> layout_end}}
