{{> layout_start_document}}
<link rel="stylesheet" href="/public/css/four-oh-four.css">
{{> layout_start_body}}
<main class="four-oh-four">
  <header>
    <h1>404</h1>
  </header>
  <section class="content-controls">
    {{> back_button}}
  </section>
  <section>
    <p>Oops, that page doesn't seem to exist.</p>
    <p><a href="/">front page</a></p>
  </section>
</main>
{{> layout_end}}
