{{> layout_start_document}}
<link rel="stylesheet" href="/public/css/general-file.css">
{{> layout_start_body}}
<main>
  <header>
    <h1>File contents</h1>
  </header>
  <section class="content-controls">
    {{> edit_button url=file.editUrl isLink=true}}
    {{> back_button}}
  </section>
  <section>
    <p class="file-contents">
      {{#newlines_to_breaks file.content}}{{this}}{{/newlines_to_breaks}}
    </p>
  </section>
</main>
{{> layout_end}}
