{{> layout_start}}
<main class="project-management group">
  <h1>Your Projects</h1>
  <section>
    <h2>Get features from a project</h2>
    <form action="/" method="get">
      <label>Project Git repo URL: <input type="text" name="repo_url" /></label>
      <button class="call-to-action">Submit</button>
    </form>
  </section>
  <section>
    <h2>Project list</h2>
    <ul>
      <li>You don't have any saved projects</li>
    </ul>
  </section>
</main>
{{> layout_end}}
