{{> layout_start_document}}
<link rel="stylesheet" href="/public/css/markdown-file.css">
<link rel="stylesheet" href="/github-markdown-css/github-markdown.css">
{{> layout_start_body}}
<main>
  <section class="content-controls">
    {{> edit_button url=file.editUrl isLink=true}}
    {{> back_button}}
  </section>
  <section class="markdown-body">{{{file.html}}}</section>
</main>
{{> layout_end}}
