{{> layout_start_document}}
<link rel="stylesheet" href="/public/css/markdown-file.css">
<link rel="stylesheet" href="/github-markdown-css/github-markdown.css">
{{> layout_start_body}}
<main>
  <section class="markdown-body">{{{markdownHtml}}}</section>
</main>
{{> layout_end}}
