/**
 * Adapted with gratitude from http://callmenick.com/post/animating-css-only-hamburger-menu-icons
 */

/* Dimensions and locations */
.burger-menu {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.burger-menu:focus {
  outline: none;
}

.burger-menu span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
}

.burger-menu span::before,
.burger-menu span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  content: "";
}

.burger-menu span::before {
  top: -20px;
}

.burger-menu span::after {
  bottom: -20px;
}

/* Styling  */

.burger-menu {
  background-color: red;
}

.burger-menu span,
.burger-menu span::before,
.burger-menu span::after {
  background-color: white;
}

.burger-menu span {
  transition: background 0s 0.3s;
}

.burger-menu span::before,
.burger-menu span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.burger-menu span::before {
  transition-property: top, transform;
}

.burger-menu span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.burger-menu.open {
  background-color: darkred;
}

.burger-menu.open span {
  background: none;
}

.burger-menu.open span::before {
  top: 0;
  transform: rotate(45deg);
}

.burger-menu.open span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.burger-menu.open span::before,
.burger-menu.open span::after {
  transition-delay: 0s, 0.3s;
}
