/**
 * Styles for individual features.
 *
 * Vaguely following BEM naming conventions.
 * http://getbem.com/introduction/
 */

.title {
  color: darkblue;
}

.tags--tag {
  margin-right: 0.5em;
}

.comments {

}

.feature--title {
    color: darkblue;
}

.description {
  color: grey;
}
