.project-name {
  display: inline-block;
}

.quick-link {
  text-decoration: none;
}

.project-name .quick-link-arrow {
  opacity: 0.5;
}
.project-name:hover .quick-link-arrow {
  opacity: 1;
  color: green;
}

.repo-link {
  position: relative;
  top: -0.1em;
  font-size: 0.7em;
  margin-left: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
.repo-link a {
  text-decoration: none;
}
.repo-link:hover a {
  text-decoration: underline;
}

.link-container {
  margin-left: 3em;
}
