/**
 * Styles for individual features.
 */

.content-controls {
  text-align: center;
  margin-bottom: 0;
}

.feature header {
  text-align: center;
  margin-bottom: 1.4em;
}
.title {
  font-size: 3em;
  color: darkblue;
}

ul.scenarios {
  margin-top: 1em;
  margin-left: 1em;
  list-style: none;
}

.tags {
  margin-bottom: 0.2em;
  color: darkgrey;
}
.tags--tag {
  margin-right: 0.5em;
}

.comments {
  margin-bottom: 0.8em;
  color: darkgrey;
}

.scenario-title,
.example-title {
    margin-bottom: 0.2em;
    color: darkblue;
}

/* Minus and plus signs for expandable directories */
.scenario .scenario-title::before,
.feature-title::before {
  position: relative;
  top: -0.05em;
  content: '\2296\2003';
}
.feature-title::before {
  font-size: 0.3em;
  top: 0.1em;
  left: 0.3em;
  vertical-align: text-top;
}
.scenario.can-expand .scenario-title::before,
.feature-title.can-expand::before {
  content: '\2295\2003';
}

.description {
  color: black;
}
.feature > .description {
  margin-bottom: 2em;
}

.scenario {
  margin-bottom: 1.8em;
}
.example {
  margin-left: 2em;
}

.scenario hr {
  max-width: 80%;
  height: 1px;
  margin-top: 1em;
  margin-left: 0;
  background-color: lightgrey;
  border: none;
}

.steps {
  margin-left: 1em;
}
.step {
  margin-bottom: 0.2em;
}
.step-keyword {
  color: darkorange;
}
.step .quoted {
  color: green;
}
.step .chevroned {
  color: purple;
}

.docstring > p {
  font-family: monospace;
  margin-bottom: 0;
  margin-left: 1em;
  color: green;
}

.gherkin-datatable {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  margin-left: 2em;
  border-collapse: collapse;
  color: darkred;
}
.gherkin-datatable td {
  padding: 0.5em;
  border-left: 1px solid;
  border-right: 1px solid;
}
.gherkin-datatable thead td {
  border-bottom: 3px double;
}
.gherkin-datatable thead tr,
.gherkin-datatable tbody tr:nth-child(even) {
  background-color: #ddd;
}

/* Hide leading spaces by default (smallest view) */
.leadingWhitespace {
  font-size: 0;
}

/**
 * Responsive styles
 */

/* Landscape and larger phones. */
@media (min-width: 480px) {
  .leadingWhitespace {
    font-size: 0.2em;
  }
}
/* Wideview port (e.g. landscape tablet). */
@media (min-width: 800px) {
  .leadingWhitespace {
    font-size: inherit;
  }
}
/* Wider viewport (e.g. monitor, tv). */
@media (min-width: 1280px) {}
