/**
 * Styles for individual features.
 */

.title {
  color: darkblue;
}

.tags {
  color: darkgrey;
}
.tags--tag {
  margin-right: 0.5em;
}

.comments {
  margin-bottom: 0.2em;
  color: darkgrey;
}

.feature-title,
.scenario-title {
    margin-bottom: 0.2em;
    color: darkblue;
}

.description {
  color: black;
}

.scenario {
  margin-bottom: 2em;
}

.steps {
  margin-left: 1em;
}
.step {
  margin-bottom: 0.2em;
}

.step-keyword {
  color: darkorange;
}

.gherkin-table {
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.docstring > p {
  font-family: monospace;
  margin-bottom: 0;
  margin-left: 1em;
  color: green;
}
