/**
 * Modified from http://projects.lukehaas.me/css-loaders/
 */

.loader-container {
  display: inline-block;
  visibility: hidden;
  position: relative;
  margin: 0 2em;
  top : -1.5em;
}

.page-loader-container {
  display: inline-block;
  margin: 0 2em;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

}

.waiting .loader-container {
  display: inline-block;
  visibility: inherit;
}

.loader,
.loader:before,
.loader:after {
  position: absolute;
  display: inline-block;
  background: #ffffff;
  animation: loading 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader.dark,
.loader.dark:before,
.loader.dark:after {
  background: #333;
  animation: loadingdark 1s infinite ease-in-out;
}

.loader:before,
.loader:after {
  top: 0;
  content: '';
}
.loader:before,
.loader.dark:before {
  left: -1.5em;
  animation-delay: -0.32s;
}
.loader,
.loader.dark {
  text-indent: -9999em;
  /*margin: 88px auto;*/
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}

@keyframes loading {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}

@keyframes loadingdark {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #333;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #333;
    height: 5em;
  }
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-repeat: no-repeat;
  background-position: center;
}
