/* Control the margins and padding. */
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  padding: 0;
  margin: 0;
}

/* Base font size. */
html {
  font-size: 14px;
}

/* Body. */
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
}

/**
 * Main and immediate sections.
 */

main {
  font-size: 1rem;
  max-width: 38em;
  padding: 0;
  margin: 0 auto;
}

main > header,
main > section,
main > article,
main > footer {
  padding: 1em;
}

main > header,
main > h1,
main > section {
  margin-bottom: 1em;
}

main > header,
main > h1 {
  text-align: center;
}

main h1 {
  font-size: 2.5em;
}

section > h2 {
    margin-bottom: 1em;
}

section ul,
section ol {
  list-style: none;
}

p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

/* Somewhat borrowed from Bootstrap */
button {
  display: inline-block;
  padding: 0.2em 0.4em;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

button.call-to-action {
  margin: 0.1em;
  background-color: blue;
  color: white;
}
button.call-to-action a {
  color: white;
  padding: 1em;
  text-decoration: none;
}
button.call-to-action:hover {
  background-color: green;
}
button.call-to-action:active {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}


/* File editing buttons and links */
.feature-edit {
  float: right;
  box-shadow: 0 0 0.4em 0.2em orange;
}
.feature-edit button {
  margin: 0;
}

/* Other interactive things */
.interactive {
  cursor: pointer;
}
.interactive:hover {
  color: green;
  text-shadow: 0 0 1em lightgreen;
}

/* UI hints */
.hint {
  font-size: 0.65em;
  display: inline-block;
  position: relative;
  top: -0.4em;
  color: darkblue;
  vertical-align: super;
}
.hint:hover:after {
  font-size: 1.4rem;
  display: block;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  min-height: 4em;

  top: 0;
  left: 0;

  padding: 1.5em 1em;
  border-radius: 0.4em;

  text-align: center;
  content: attr(title);

  color: green;
  background-color: rgba(255, 255, 255, 0.95);
  text-shadow: 0 0 0 black;
}

/**
 * Landscape and larger phones
 */
@media (min-width: 480px) {
  html {
    font-size: 16px;
  }

  main {
    padding: 2em;
  }
}

/**
 * Wideview port (e.g. landscape tablet).
 */
@media (min-width: 800px) {
  main {
    max-width: 50em;
  }

  main > header {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
  }
}

/**
 * Wider viewport (e.g. monitor, tv).
 */
@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }

  main {
    max-width: 65em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

/**
 * Normalisation for SVG icons
 */
svg.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/**
 * Hide things.
 */
 .hidden {
   display: none;
 }
 .collapsible {
   height: 100%;
   transition: all 0.4s ease-in-out;
 }
 .collapsible.collapse {
   height: 0 !important;
   opacity: 0 !important;
   margin: 0 !important;
   padding: 0 !important;
   border: none !important;
   pointer-events: none !important;
 }


/**
 * Semantic clearfix.
 */
.group:after {
  content: "";
  display: table;
  clear: both;
}
