/**
 * Top nav.
 **/

.header-nav {
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 0.8em;
  text-align: left;
  font-size: 1.2em;
  list-style: none;
}

.header-nav li {
  display: inline-block;
  margin-left: 0.2em;
}

.header-nav a {
  display: inline-block;
  color: darkgreen;
  text-decoration: none;
}

.header-nav li:hover a {
  text-decoration: underline;
  color: green;
}

.header-nav a span {
  display: inline-block;
}

/* The logo-ish element of the nav. */
.header-nav li.primary {
  font-size: 2em;
  margin-right: 1em;
}

.header-nav hr.top {
  margin-bottom: 0.1em;
}
.header-nav hr.bottom {
  margin-top: 0.1em;
}
