select {
  width: 30%;
}

ul.file-list {
    margin-bottom: 2em;
}

.project {
  padding: 0;
}

.project-name {
  text-transform: capitalize;
}

.project .controls {
  margin-bottom: 0;
  padding: 1em;
}

/**
 * Wideview port (e.g. landscape tablet).
 */
@media (min-width: 800px) {
  .project .controls {
    margin-bottom: 2em;
  }
}

.project .controls button.call-to-action {
  margin: 0;
}

.project .repository-controls {
  box-sizing: border-box;
  background-color: #FAFAFA;
  padding: 0.5em;
  border-radius: 0.3em;
  border: 1px solid rgb(220, 220, 220);
}

.project .burger-menu {
  position: relative;
  z-index: 99;
  display: block;
  margin: 0;
  float:right;
  border: 1px solid darkgrey;
}

.project .content-controls {
  margin-top: 0.4em;
}

.project-refs {
  margin-bottom: 1em;
}

.project-branch {
  margin-right: 0.4em;
}

.project-branch select {
  min-width: 30%;
  max-width: 60%;
}

.project-commit {
  display: inline-block;
  margin-top: 1em;
  margin-right: 1em;
}

.project-update {
  margin-top: 1em;
  margin-right: 2em;
  margin-bottom: 1em;
}

.repo-link {
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 2em;
}
.repo-link a {
  text-decoration: none;
  color: blue;
}
.repo-link:hover a {
  color: green;
  text-decoration: underline;
}

.directory {
  margin: 1em;
}
.directory:first-child {
  margin-top: 0;
}

/* Minus and plus signs for expandable directories */
.directory-path::before {
  content: '\2296\2003';
}
.directory-path.can-expand::before {
  content: '\2295\2003';
}

.file-list li {
  max-width: 100%;
}

a.spec-link {
  max-width: 100%;
  color: black;
  text-decoration: none;
}

.directory {
  margin: 1em;
}

h2.directory-path {
  font-size: 1.2em;
  font-weight: normal;
  word-break: break-word;
  color: #555;
  margin-bottom: 0.5em;
}

/* Minus and plus signs for expandable directories */
.directory-path::before {
  content: '\2296\2003';
}
.directory-path.expand::before {
  content: '\2295\2003';
}

/* TODO: standardise and reuse styling via pre-processor */
.file-container {
  /*
   * Make max-width:100% constrain the width out
   * to the edge of the border rather than the
   * content.
   */

  box-sizing: border-box;
  max-width: 100%;

  margin-bottom: 0.8em;
  background-color: #FAFAFA;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 0.3em;
  box-shadow: 0.05em 0.1em 0.2em 0.01em rgb(220, 220, 220);
}
.file-container:hover {
  background-color: #FFF;
}

.empty-file {
  color: #555;
}

.parse-error {
  color: darkred;
}

.file-details {
  word-wrap: break-word; /* break long file names and paths */
  padding: 0.6em;
}
.file-name {
  margin-bottom: 0;
  color: rgb(80, 134, 60);
}
.file-path {
  font-size: 0.6em;
  margin-bottom: 0;
}

.feature-summary {
  padding: 0.8em 0.5em 0.3em 0.5em;
}
.feature-summary p {
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}
.feature-summary .feature-name {
  color: rgb(80, 134, 60);
  font-size: 1.1em;
}
.feature-summary .feature-description {
  font-size: 0.8em;

  color: #999;

  /* Truncate the feature descriptions. */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
