.projects > section {
  float: left;
  margin-right: 3em;
}

.projects form {
  display: inline-block;
}

.projects form {
  margin-bottom: 1.2em;
}

.projects input {
  margin-top: 1em;
  margin-right: 0.5em;
  margin-bottom: 1em;
}

.projects button {
  font-size: 1.1em;
}

/**
 * Wider viewport (e.g. monitor, tv).
 */
@media (min-width: 1280px) {
  .projects input {
    margin-top: 0;
  }
}
