.project-name {
  font-size: 2.5em;
  text-transform: capitalize;
}

.project .controls {
  margin-bottom: 2em;
}

.project-refs {
  margin-bottom: 1em;
}

.project-branch {
  margin-right: 0.4em;
}

.project-branch select {
  min-width: 30%;
  max-width: 60%;
}

.project-commit {
  display: inline-block;
  margin-top: 1em;
  margin-right: 1em;
}

.project-update {
  margin-top: 1em;
  margin-right: 2em;
  margin-bottom: 1em;
}

.repo-link {
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
}
.repo-link a {
  text-decoration: none;
  color: blue;
}
.repo-link:hover a {
  color: green;
  text-decoration: underline;
}

.spec-links {
  color: grey;
}

.file-list li {
  display: inline-block;
}

.file-container {
  display: inline-block;
  font-size: 1.2em;
  padding: 1em;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  border: 2px solid rgba(100, 100, 100, 0.5);
  border-radius: 0.8em;
  background-color: #FAFAFA;
  box-shadow: -0.1em 0.1em 0.2em 0.1em rgba(100, 100, 100, 0.5);
}

.empty-file {
  color: #555;
}

.parse-error a {
  color: darkred;
}

.file-name {
  margin-bottom: 0.5em;
}
.file-path {
  font-size: 0.8em;
  margin-bottom: 0;
}
