.project > header {
  margin-bottom: 1em;
}

.project-name {
  font-size: 2.5em;
  margin-right: 0.4em;
  display: inline-block;
}

.project-refs {
    display: inline-block;
    margin-top: 1em;
}

.project-branch {
  margin-right: 0.4em;
}

.project-branch select {
  max-width: 50%;
}

.project-commit {
  margin-right: 1em;
}

.repo-link {
  font-size: 0.7em;
  margin-right: 3em;
  font-weight: bold;
  text-transform: uppercase;
}
.repo-link a {
  text-decoration: none;
  color: blue;
}
.repo-link:hover a {
  color: green;
  text-decoration: underline;
}

.project-update {
  margin-top: 1em;
  margin-bottom: 1em;
}

.project-update a {
  padding: 1em;
  text-decoration: none;
}

.links-container {
  margin-left: 3em;
}

@media (min-width: 800px) {
  .project-update {
    float: right;
  }
}
